.tooltippopper {
    background: #DC3545;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 6px;
    z-index: 1;
    transition: display ease .5s;
}

.arrowpopper,
.arrowpopper::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.arrowpopper {
    visibility: hidden;
}

.arrowpopper::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.tooltippopper[data-popper-placement^='top']>.arrowpopper {
    bottom: -4px;
}

.tooltippopper[data-popper-placement^='bottom']>.arrowpopper {
    top: -4px;
}

.tooltippopper[data-popper-placement^='left']>.arrowpopper {
    right: -4px;
}

.tooltippopper[data-popper-placement^='right']>.arrowpopper {
    left: -4px;
}